@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assests/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    opacity: 0.69;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
}



nav {
    /* background-color: red; */
    height: 62px;
    display: flex;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
}

nav img {
    width: 114px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
}

.hero {
    color: white;
    display: flex;
    height: calc(100% - 62px);
    font-family: 'Martel Sans', sans-serif;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 23px;
    padding: 0px 30px;

}

.hero> :first-child {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}



.seperation {
    height: 7px;
    background-color: rgb(36, 36, 36);
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.062);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;

}

.lbtn {
    order: 1px solid #ffffff57;
    padding: 5px 12px;
}

.btn-red {
    background-color: red;
    color: white;
    font-size: 24px;
    padding: 10px 31px;
    border-radius: 4px;
}

.main input {
    font-size: 14px;
    padding: 16px 148px 16px 15px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.274);
    color: white;

}

.btn-red-sm {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 6px 15px;

}

section {
    height: 644px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;

}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    /* width: 555px; */
}

.boldtext {
    font-weight: bolder;
    font-size: 48px;
}

.below-boldtext {
    font-size: 24px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    /* filter: invert(1); */
}

.faqbox {
    transition: all 0.2s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item {
        align-items: center;
    }

    .hero-btn {
        display: flex;
        flex-wrap: wrap;
        
        
    }


}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}